<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="accountingForPeriodicalSubscriptions.Properties.Settings.Учет_подписки_на_периодические_печатные_изданияConnectionString"
            connectionString="Data Source=DESKTOP-JQD9UTD\SQLEXPRESS;Initial Catalog=Учет_подписки_на_периодические_печатные_издания;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>