<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="winForms.Properties.Settings.TestDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-EHG48UJ\SQLEXPRESS01;Initial Catalog=TestDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>